var pipe = {
    isHidden: function(tips){
       if (typeof tips !== "undefined" 
            && tips !== ""){
                return "visible";
            }else{
                return "hidden";
            }
    },
   
    inputErrorBorderClass: function(tips){
        if (typeof tips !== "undefined" 
        && tips !== ""){
            return "error-border";
        }else{
            return "no-border";
        }
    }
}
// 导出对外暴露的属性
module.exports = {
    shouldShowTips: pipe.shouldShowTips,
    isHidden: pipe.isHidden
}